*
!app
!migrations
!public
!scripts
!server
!.npmrc
!.prettierignore
!drizzle.config.ts
!eslint.config.js
!package.json
!package-lock.json
!postcss.config.js
!prettier.config.mjs
!react-router.config.ts
!tailwind.config.ts
!tsconfig.eslint.json
!tsconfig.json
!tsconfig.server.json
!vite.config.ts
!vitest.config.ts
