*
!app
!migrations
!prisma
!public
public/build
!server
!tests
!drizzle.config.ts
!eslint.config.js
!.npmrc
!package.json
!package-lock.json
!postcss.config.js
!prettier.config.mjs
!tailwind.config.ts
!tsconfig.json
!vite.config.ts
!vitest.config.ts
