*
!app
!prisma
!public
public/build
!server
!tests
!.eslintignore
!.eslintrc.js
!.npmrc
!package.json
!package-lock.json
!postcss.config.js
!remix.config.js
!remix.env.d.ts
!tailwind.config.ts
!tsconfig.json
!vitest.config.ts